:root{
    --oscuro: #1f1346;
    --violeta: #673de6;
    --complementario: #2f1c6a;
    --hover: #5025d1;
    --hover-2: #e2dbfc;
    --background-price: #d5dfff;
    --background-card: #fafbff;
    --border-card: #d5dfff;
    --btn-border-hover: #d8dae0;
    --btn-text-hover: #6d7081;
    --blanco: #f5f5f5;
    --negro: #1d1e20;
}

@font-face {
    font-family: 'DM-Sans';
    src: url(/clase-7/font/DMSANS-VARIABLEFONT_OPSZ\,WGHT.TTF) format('truetype');
}

*{
    font-size: 100%;
    margin: 0px;
    font-family: 'DM-Sans';
}

/* contendores */

nav{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    height: 60px;
    padding: 1% 0%;
    background-color: var(--blanco);
}

.cuenta{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 16px;
}

.cuenta .sesion{
    font-weight: 700;
    background: transparent;
    border: 1px solid var(--negro);
    color: var(--negro);
    border-radius: 8px;
    padding: 5%;
    font-size: 16px;
}

.cuenta .sesion:hover{
    border: 1px solid var(--btn-border-hover);
    color: var(--btn-text-hover);
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 0 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 0 32px;
}

ul a:hover{
    color: var(--btn-text-hover);
}

.caja-1{
    width: 100%;
    min-height: 87vh; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.prices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.caja-1 .prices .price-container{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid var(--border-card);
    border-radius: 15px;
    background-color: var(--background-card);
    gap: 36px;
}

.caja-1 .prices .price-container .title-description__offer{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 110%;
}

.offer{
    text-align: end;
}

.plan-button button{
    background: transparent;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    padding: 11px 47px;
    border: 1px solid var(--violeta);
    color: var(--violeta);
}

.plan-button .selected{
    background-color: var(--violeta);
    color: var(--blanco);
}

.plan-button .selected:hover{
    background-color: var(--hover);
    color: var(--blanco);
    cursor: pointer;
}

.plan-button button:hover{
    background-color: var(--hover-2);
    cursor: pointer;
}

.caja-2{
    width: 100%;
    min-height: 87vh;
    height: auto;
    background-color: var(--oscuro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    gap: 0 10px;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 230px;
    padding: 1% 3%;
    padding-top: 2%;
    gap: 20px 0;
    border-radius: 15px;
    background-color: var(--complementario);
}

.empezar{
    padding: 13px 45px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--violeta);
    color: var(--blanco);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.empezar:hover{
    background-color: var(--hover);
    color: var(--blanco);
}

.pregunta{
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-weight: 800;
    border-radius: 20px;
    border: none;
    padding: 8px;
    background-color: var(--violeta);
    color: var(--blanco);
}

.pregunta:hover{
    background-color: var(--hover);
    color: var(--blanco);
    cursor: pointer;
}

/* imagenes */

.cuenta img{
    width: 32px;
}

/* texto */

h1{
    letter-spacing: 1px;
    font-size: 36px;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: var(--negro);
}

h3{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

ul a{
    font-weight: 400;
}

.parrafo{
    text-align: center;
    line-height: 20px;
    width: 76%;
    line-height: 24px;
}

.offer span{
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 2% 4%;
    background-color: var(--background-price);
}

.title-description__offer h1{
    font-size: 20px;
    font-weight: bold;
}

.title-description__offer .description{
    font-size: 14px;
}

.plan-price{
    word-spacing: -6px ;
    font-weight: bold;
    font-size: 36px;
}

.plan-price .chiquito{
    font-weight: 300;
    font-size: 16px;
}

.container-plan-price b{
    font-size: 18px;
    color: var(--violeta);
    font-weight: bold;
}

.container-plan-price .oculto{
    color: var(--background-card);
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 5%;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--violeta);
}

@media screen and (min-width: 385px) and (max-width: 531px){
    

    /* contendeores */

    nav{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px 0;
        position: absolute;
    }

    nav .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 0;
    }

    nav .header ul{
        gap: 0 10px;
    }

    .cuenta{
        width: 55%;
        justify-content: center;
    }

    .caja-1{
        margin-top: 30%;
    }

    .caja-1, .caja-2 {
        padding: 24px 0;
        gap: 24px;
    }

    .prices{
        flex-direction: column;
        align-items: center;
        gap: 20px 0;
    }

    .caja-1 .prices .price-container{
        width: 80%;
        height: auto;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px 0;
    }

    .card-container .card{
        width: 90%;
        height: max-content;
        padding: 3%;
    }

    /* texto */

    h1{
        font-size: 28px;
        text-align: center;
    }

    .parrafo{
        width: 100%;
    }
    
    .pregunta{
        padding: 2px 10px;
        font-size: 10px;
    }
}